/* general styling */
:root {
  --smaller: .75;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  color: #333;
  margin: 0 auto;
  text-align: center;
}



.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  /*padding: 14px 16px;*/
  text-decoration: none;
  font-size: 0.8em;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}


.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}


h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}
ul{
	width:100%;
}
li {
  width:20%;
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}



html, body {
  height: 100%;
  margin: 0;
}

body{
  background-color:#5F939A;
  color:Black;
  text-align:center; 
  font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Oxygen-Sans, 
    Ubuntu, 
    Cantarell, 
    "Helvetica Neue", 
    sans-serif;
}
a{
	color:Black;	
}
a.visited {
	color:#64B5F6;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }
  
  li {
    font-size: calc(1.125rem * var(--smaller));
  }
  
  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
  .nav {
  width: 0%;
}
  .navbar-nav{
	width: 0%;
}
}

.title0 { grid-area: 1 / 1 / 2 / 2;  border:1px solid black;}
.title1 { grid-area: 1 / 2 / 2 / 3;  border:1px solid black;}
.title2 { grid-area: 1 / 3 / 2 / 4; border:1px solid black;}


.time2 { grid-area: 2 / 1 / 3 / 2;  border:1px solid black;}
.time3 { grid-area: 3 / 1 / 4 / 2;  border:1px solid black;}
.time4 { grid-area: 4 / 1 / 5 / 2;  border:1px solid black;}
.time5 { grid-area: 5 / 1 / 6 / 2;  border:1px solid black;}
.time6 { grid-area: 6 / 1 / 7 / 2;  border:1px solid black;}
.time7 { grid-area: 7 / 1 / 8 / 2;  border:1px solid black;}
.time8 { grid-area: 8 / 1 / 9 / 2;  border:1px solid black;}
.time9 { grid-area: 9 / 1 / 10 / 2;  border:1px solid black;}
.time10 { grid-area: 10 / 1 / 11 / 2;  border:1px solid black;}
.time11 { grid-area: 11 / 1 / 12 / 2;  border:1px solid black;}
.time12 { grid-area: 12 / 1 / 13 / 2;  border:1px solid black;}
.time13 { grid-area: 13 / 1 / 14 / 2;  border:1px solid black;}
.time14 { grid-area: 14 / 1 / 15 / 2;  border:1px solid black;}
.time15 { grid-area: 15 / 1 / 16 / 2;  border:1px solid black;}
.time16 { grid-area: 16 / 1 / 17 / 2;  border:1px solid black;}
.time17 { grid-area: 17 / 1 / 18 / 2;  border:1px solid black;}
.time18 { grid-area: 18 / 1 / 19 / 2;  border:1px solid black;}
.time19 { grid-area: 19 / 1 / 20 / 2;  border:1px solid black;}
.time20 { grid-area: 20 / 1 / 21 / 2;  border:1px solid black;}

.confranceDay {
display: grid;
background: rgba(48,47,47, 0.5);
color:white;
grid-template-columns: 1fr repeat(2, 3fr);
grid-template-rows: repeat(19, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
border:1px solid black;
}


.before0 { grid-area: 2 / 2 / 3 / 4; border:1px solid black;}
.keynote1 { grid-area: 3 / 2 / 5 / 4; border:1px solid black;}
.keynote2 { grid-area: 16 / 2 / 18 / 4; border:1px solid black;}
.after0 { grid-area: 18 / 2 / 20 / 4; border:1px solid black;}

.talk1a { grid-area: 5 / 2 / 8 / 3; border:1px solid black;}
.lunch1a { grid-area: 8 / 2 / 10 / 3; border:1px solid black;}
.lunch1b { grid-area: 10 / 2 / 12 / 3; border:1px solid black;}
.talk1b { grid-area: 12 / 2 / 16 / 3; border:1px solid black;}
.talk2a { grid-area: 5 / 3 / 8 / 4; border:1px solid black;}
.lunch2a { grid-area: 8 / 3 / 10 / 4; border:1px solid black;}
.lunch2b { grid-area: 10 / 3 / 12 / 4; border:1px solid black;}
.talk2b { grid-area: 12 / 3 / 16 / 4; border:1px solid black;}



.ctfDay {
display: grid;
background: rgba(48,47,47, 0.5);
color:white;
grid-template-columns: 1fr repeat(1, 2fr);
grid-template-rows: repeat(17, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
border:1px solid black;
}

.ctfintro {grid-area: 2 / 2 / 3 / 3; border:1px solid black;} 
.ctfing0 {grid-area: 3 / 2 / 8 / 4; border:1px solid black;}
.lunch {grid-area: 8 / 2 / 10 / 4; border:1px solid black;}
.ctfing1 {grid-area: 10 / 2 / 17 / 4; border:1px solid black;}
.prizes0 {grid-area: 17 / 2 / 18 / 4; border:1px solid black;}
